*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    color: #003566;
    background-color: #D1E3DD;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #ffd60a;
    background-color: #003566;
    /*da qui in poi il codice è opzionale per questo progetto
    poichè la pagina è molto piccola*/
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.logo-header img{
    width: 100px;
}
.applicazione{
    height: 400px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contatore{
    font-size: 100px;
}
button{
    cursor: pointer;
    font-size: xx-large;
    background-color: #003566;
    color: #ffd60a;
    border-radius: 20%;
    border-style: none;
    box-shadow: 0 5px black;
    padding: 10px;
    margin: 10px;
}
button:active{
    box-shadow: 0 1px black;
    transform: translateY(2px);
}
.istruzioni{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
@media only screen and (max-width: 600px){
    .istruzioni{
        font-size: 20px;
    }
}
p{
    padding: 8px;
}
.footer{
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #003566;
    color: #ffd60a;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: large;
}
.f1 a:link, a:visited,
.f2 a:link, a:visited{
    color: #ffd60a;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.f1 a:hover{
    box-shadow: inset 220px 0 0 0 #ffd60a;
    color: #003566;
}
.f2 a:hover{
    box-shadow: inset 100px 0 0 0 #ffd60a;
    color: #003566;
}
.f1{
    text-align: center;
}
.f2{
    text-align: center;
}
